body{
    background-color: rgb(219,219,224);
    overflow-x: hidden;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

header .sign-out a:hover {
    color: red;
}

page-body nav{
    background-color: rgb(255, 255, 255);
}

page-body nav .dropdown.a{
    background-color: rgb(236, 234, 234);
    padding-right: 115px;
    margin-left: -65px;
}

@media (max-width: 768px) {
    page-body nav .dropdown.a{
        padding-right: 0px;
        margin-left: 0px;}
}

page-body nav .dropdown.b{
    background-color: rgb(255, 255, 255);
    padding-right: 80px;
}

.other-categories .nav-event a {
    margin-top: -8px;
    margin-bottom: -8px;
    color: #ffffff;
    text-decoration: none;
    border-top: 3px solid transparent;
    transition: border-color .5s;
}

.other-categories .nav-item a:hover {
    color: red;
    border-color: red; /* Màu đỏ cho đường viền trên */
}

.dropdown-menu.b{
    width: 850px;
}

.dropdown-menu.b li{
    width: 115px;
}

.dropdown-menu li:hover{
    background-color: #6797e9;
    border-radius: 15px;
}

.search-container ul{
    top: 110px;
}

dl.cf{
    font-size: 14px;
    width: 250px;
    margin-left: -70px;
    display: grid;
    border-radius: 4px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: white;
    padding-left: 12px;
    margin-top: -3px;
}

dl.cf em i{
    color: black;
}
@media (max-width: 768px) {
    dl.cf{
        width: 100%;
        margin-left: 0px;}
}

dd span {
    display: block;
}

.cf a:hover{
    color: red;
    border-color: red; /* Màu đỏ cho đường viền trên */
}

.notice-wrap.fr .notice{
    width: 250px;
    background-color: rgb(252,252,250);
    border: 1px solid rgba(200, 198, 198, 0.3);
    border-radius: 4px;
}

.notice-wrap.fr .notice h3{
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}

.attention {
    padding: 12px;
    display: flex;
    align-items: center;
}

.attention #icon-volume{
    color: #ff0000;
    margin-right: 15px;
}

.switchable-slides {
    position: relative;
    overflow: hidden;
  }

  .switchable-slides ul {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
  }

  .switchable-slides li {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .switchable-slides a {
    display: block;
    position: relative;
  }

  .thumb {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    margin-top: -40px;
    background-color: #000;
    opacity: 0.7;
  }

  .thumb a {
    padding: 8px 24px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(252, 252, 252);
    border-left: 1px solid #fff;
  }

  .thumb a.active {
    background-color: #f12e2e;
  }

  .thumb a span {
    display: none;
  }

  .thumb a em {
    margin-right: 5px;
  }
  @media (max-width: 576px) {
    .thumb a {
        padding: 8px 6px;
      font-size: 9px;
    }
  }

.img-container {
    width: 100%;
    max-width: 100%;
    display: flex;
}

.img-container img {
    padding: 10px 20px;
    font-size: 60px;
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: box-shadow 0.3s ease-in-out;
}

@media (max-width: 768px) {
    /* Áp dụng luật CSS khác cho màn hình điện thoại */
    .img-container img {
        padding: 4px 9px;
        font-size: 20px;
        width: 100%;
        max-width: 100%;
    }
  }

.focus-img.advertisement li:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.focus-img.advertisement li.middle {
    /* box-shadow: 0 0 10px rgba(200, 198, 198, 0.3); */
    background-color: rgba(128, 128, 128, 0.1);
}

.attention {
    padding: 12px;
    display: flex;
    align-items: center;
}

.attention #icon-volume{
    color: #ff0000;
    margin-right: 15px;
}

.marquee-container {
    flex: 1;
}

.notice-banner img{
    padding-top: 10px;
    width: 250px;
}

@media (max-width: 768px) {
    .notice-banner img{
        padding-top: 10px;
        width: 100%;
    }
    .notice-wrap.fr .notice{
        width: 100%;
    }
  }

.content .notice-wrap.fr .name{
    font-size: 13px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(9em + 10ch);
}

@media (max-width: 768px) {
    /* Áp dụng luật CSS khác cho màn hình điện thoại */
    .content .notice-wrap.fr .name{
        margin-right: 10px;
        display: inline-block;
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
        max-width: none;
    }
}

.content .book-list-wrap .name{
    font-size: 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(9em + 10ch);
}

@media (max-width: 768px) {
    /* Áp dụng luật CSS khác cho màn hình điện thoại */
    .content .book-list-wrap .name{
        margin-right: 10px;
        white-space: normal;
        overflow: none;
        max-width: none;
    }
}


.content .name:hover {
    color: red;
}
.content .author, .content .rec{
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
    opacity: 0.7;
}

.wrap-title.lang a{
    font-size: 15px;
    display: inline-block;
}

.name-categori-list-book{
    font-size: 15px;
}

.wrap-title.lang, .name-categori-list-book{
    padding-bottom: 3px;
    border-bottom: 2px solid #000000;
}

.wrap-title.lang .name{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(6em + 12ch);
}

.wrap-title.lang .name:hover{
    color: red;
    white-space: normal;
    max-width: none;
    overflow: visible;
}

.book-wrap {
    display: flex;
    align-items: center;
  }


.book-list .unfold .book-wrap.cf .book-info.fl{
    float: left;
    padding-right: 40px;
    order: 1;
}

.book-list .unfold .book-wrap.cf .book-info.fl h2{
    font-size: 15px;
    float: left;
    width: 133px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(12em + 14ch);
}

.book-list .unfold .book-wrap.cf h3{
    background-color: rgb(191,44,36);
    color: white;
    width: 45px;
    font-size: 20px;
    padding: 1px;
}

.book-list .unfold .book-wrap.cf .book-cover {
    order: 2;
}

.book-list .unfold .book-wrap.cf .book-cover img{
    width: 100px;
    height: 140px;
}


.book-list .num-box{
    float: left;
}

.book-list .name-box{
    margin-top: 8px;
    border-top: 2px solid rgb(230,230,230);
}

.book-list .name-box .name{
    float: left;
    width: 250px;
    margin-right: 27px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(6em + 10ch);
}

.book-list .name-box .name:hover{
    color: red;

}

@media (max-width: 768px) {
    /* Áp dụng luật CSS khác cho màn hình điện thoại */
    .book-list .name-box .name{
      float: left;
      width: 400px;
      margin-right: 10px;
      display: inline;
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(6em + 22ch);
    }
  }
  .name-categori-list-book span{
    font-size: 12px;
    border-radius: 4px;
    background-color: #ff0000;
    padding: 1px 5px;
}

.book-list-wrap{
    width: 250px;
}

.book-list-wrap.fl{
    margin-left: -70px;
}

.book-list-wrap h3{
    font-size: 18px;
    padding-bottom: 5px;
}
.book-list-wrap .wrap-title {
    border-bottom: 2px solid #000;
}

.book-list-wrap .book-list li{
    width: 250px;
    padding-bottom: 3px;
    border-bottom: 2px solid #bab4b4;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .book-list-wrap.fl, .book-list-wrap.fr{
        width: 100%;
        margin-left: 0px;}
    .book-list-wrap .book-list li{
        width: 100%;
    }
}

.book-item {
    width: 360px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
}

.book-list .book-item {
    border-radius: 4px;
    background-color: rgb(247,247,247);
    padding: 6px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 1.5s ease-in-out;
}

.book-item img {
    width: 80px;
    height: 110px;
    margin-right: 10px;
}

.book-item .view span{
    border-radius: 4px;
    background-color: rgb(176, 215, 239);
    padding: 1;
}

.book-details {
    width: 202px;
    flex-grow: 1;
}

.book-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.book-item h4{
    font-size: 20px;
    margin-bottom: 4px;
}

.book-item p{
    font-size: 14px;
    margin-bottom: 2px;
}

.book-wrap.cf h4{
    font-size: 17px;
    margin-bottom: 4px;
    width: 163px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(12em + 14ch);
}

.book-wrap.cf .chapter{
    margin-bottom: 4px;
    width: 163px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(12em + 14ch);
}

.book-info {
    font-size: 14px;
    margin-bottom: 2px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .rank-list{
        width: 100%;
    }
    .book-wrap.cf h4{
        width: 240px;
    }
    .book-details {
        width: 250px;
        margin-left: 4px;
        flex-grow: 1;
    }
}

.num-box{
    width: 20px;
    height: 25px;
    margin-top: 3px;
    margin-right: 2px;
    border-radius: 3px;
}
.num-box .num2{
    font-weight: bold;
    padding: 1px 2px 5px 5px;
}

.col-xl-1 {
    flex: 0 0 auto;
    width: 3%;
}
.col-xl-10 {
    flex: 0 0 auto;
    width: 95%;
}
@media (max-width: 768px) {
    .col-xl-1 {
        width: 100%;
    }
    .col-xl-10 {
        width: 100%;
    }
}

.content-3{
    width: 1270px;
}

@media (max-width: 768px) {
    .content-3{
        margin-left: -35px;
        width: 300px;
    }
    .wrap-title.lang{
        width: 357px;
    }
    .book-list
  }
